/* .currentTaps-container {
  margin: 5px auto;
  padding: 40px;
  color: white;
  background: dodgerblue;
} */

.currentTaps-container {
  box-sizing: content-box;
  display: flex;
  padding: 10px;
  /* width: 100%; */
  flex-direction: row;
  justify-content: center;

}

.tap-card {
  background-color: dodgerblue;
  margin: 5px 10px;
  height: auto;
  width: 250px;
}
